<html>
  <head>
    <title>Confirm Email</title>
  </head>
  <body>
    <h1>Welcome to My App</h1>
    <p>Please confirm your email by clicking on the following link:</p>
    <p><a href='{{url}}'>Confirm Email</a></p>
    <p>If the link doesn't work, copy and paste the following URL into your browser:</p>
    <p>{{url}}</p>
    <p>Your token is: {{token}}</p>
  </body>
</html>